<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0"><dict>
<key>Label</key><string>{{ automation_label | e }}.logs</string>
<key>ProgramArguments</key><array>
<string>{{ automation_brew_prefix | e }}/opt/logrotate/sbin/logrotate</string>
<string>--state</string><string>{{ automation_data_dir | e }}/logrotate.state</string>
<string>{{ automation_data_dir | e }}/logrotate.conf</string>
</array>
<key>RunAtLoad</key><true/>
<key>StartInterval</key><integer>3600</integer>
</dict></plist>
